body > .container-fluid {
  min-width:20em;
}

.well {
    background: #d9edf7;
}

#lang {
  float:right;
}

.result, .result_ch
{
  display: none;
}

#lang {
  position:fixed;
  bottom:1em;
  left:1em;
}

.row {
padding: 0.6ex;
}

#result div.row:nth-child(even){
    background-color: #f9f9f9;
}

#result div.row:hover {
    background-color: #f5f5f5;
}

input[id^=r_], input[id^=rw_],
input[id^=r_]::-webkit-inner-spin-button, 
input[id^=r_]::-webkit-outer-spin-button,
input[id^=rw_]::-webkit-inner-spin-button, 
input[id^=rw_]::-webkit-outer-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

input.form-control {
  display:inline;
  width:10ex;
  padding:1ex;
}

input[id^=r_] {
  min-width:8ex;
  width:8ex;
}

input[id^=rw_] {
  min-width:16.4ex;
  width:16.4ex;
}

.tab-content {
  border:1px solid #ddd;
  border-radius:5px;
}

.tab-content > div.row {
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
}

a[data-toggle="collapse"] {
  cursor: pointer;
  font-size:2.2ex;
  line-height:3ex;
  padding-left:0.5ex;
}

div[id^=tr_] {
  border-top: 1px dotted silver;
}

.heading {
  display:inline-block;
  width:100%;
  line-height:2em;
}

.heading input {
  min-width:2ex;
}

.heading span {
  cursor:pointer;
}

.btn-check {
  float:right;
}

.highlight {
  background:lightyellow!important;
}

/*
div[id^=svg_] {
  height: 0;
  padding-top: 30%;
  position: relative;
}

div[id^=svg_] svg {
  position: absolute;
  top: 0;
  left: 0;
}
*/



